input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}

table {
    font-family: Arial Narrow, sans-serif;
    font-size: small;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    background-color: #85afbf;
    color: aliceblue;
    text-align: left;
    padding: 6px;
    font-size: medium;
}

td {
    border: 1px solid;
    padding: 4px;
}
