@page
@using Models
@using ContosoCraftsWebSite.Components
@using ContosoCraftsWebSite.Services
@using ContosoCraftsWebSite.Pages
@model IndexModel
@inject JsonFileProductService ProductService
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Contoso Crafts</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"> building Web apps with ASP.net</a></p>
</div>



@(await Html.RenderComponentAsync<ProductList>(RenderMode.WebAssemblyPrerendered ))
@* @(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered)) *@

<script src="_framework/blazor.server.js"></script>
